{% extends 'tutor/base_tutor.html' %}

{% block content %}
    <h3 class="text-center" style="color: white;margin: 10px 0;text-shadow: 2px 2px #FF0000;padding-top: 30px">Feed</h3>
    {% if feed_list %}
        {% for feed in feed_list %}
            {% if feed.approve %}
                {% include 'tutor/single_ad.inc.html' %}
            {% endif %}
        {% endfor %}
        {% else %}
        <p class="text-center" style="color: white">No feed for you</p>
    {% endif %}
{% endblock content %}